<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AvaTaxLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AvaTaxLibrary.Properties.Settings>
            <setting name="ServiceUrl" serializeAs="String">
                <value>https://avatax.avalara.net</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>userName</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>userPassword</value>
            </setting>
            <setting name="Client" serializeAs="String">
                <value>companyName</value>
            </setting>
            <setting name="CompanyCode" serializeAs="String">
                <value>companyCode</value>
            </setting>
            <setting name="CompanyAddressLine1" serializeAs="String">
                <value>CompanyAddressLine1</value>
            </setting>
            <setting name="CompanyCity" serializeAs="String">
                <value>CompanyCity</value>
            </setting>
            <setting name="CompanyState" serializeAs="String">
                <value>CompanyState</value>
            </setting>
            <setting name="CompanyPostalCode" serializeAs="String">
                <value>CompanyPostalCode</value>
            </setting>
            <setting name="CompanyCountry" serializeAs="String">
                <value>US</value>
            </setting>
        </AvaTaxLibrary.Properties.Settings>
    </applicationSettings>
</configuration>