<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AvaTax:AccountNumber" value="1100087076"/>
    <add key="AvaTax:LicenseKey" value="8D0FB94F9221911D"/>
    <add key="AvaTax:ServiceURL" value="https://avatax.avalara.net"/>
    <add key="IsProduction" value="false"/>
    <add key="Commit" value="false"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
